<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Add Singer</title>
  </head>
  <body>
    <h1>Add Singer</h1>
    <form action="/singers/add" method="post">
      Name:<br>
      <input type="text" name="Name">
      <br>
      <input type="submit" value="Submit">
  </body>
</html>
