<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ./partial/header %>
<h4> <a href="#">Singer </a> | <a href="#">Song </a> </h4>
  </body>
</html>
