<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <title></title>
</head>

<body class="container">
  <table id="t01" class="table">
    <tr>
      <th>Customer name</th>
      <th>Total Price</th>
      <th>Packet</th>
    </tr>
    <td>Brama Prasetyo</td><br>
    <td>150.000</td>
    <td>A</td>
  </table>
</body>

</html>