<%- include('./partials/header.ejs') %>
<body>
  <h2>Customer Login</h2>
  <% if (typeof error !== 'undefined' ) {%>
    <p class="alert alert-danger"> <%= error.message%> </p>
    <% } %>
  <div class="container">
    <div class="row">
      <form action="/login" method="post">
        <div class="form-group">
          <label for="formGroupExampleInput"></label>
          Username:
          <input name="username" type="text" class="form-control" id="formGroupExampleInput" placeholder="username">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2"></label>
          Password:
          <input name="password" type="password" class="form-control" id="formGroupExampleInput2" placeholder="password">
        </div>
        <div>
          <input type="submit" value="Login">
          <a href="/register">Register</a>
        </div>
      </form>
    </div>
  </div>

</body>

<%- include('./partials/footer.ejs') %>
